.product {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-bottom: 5px;
   
}
.ollProducts {
  margin: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productsMenu {
  display: flex;
  
}