 td img{
     margin: 0 auto;
 }
 .summary{
     /* gap: 10px; */
    background-color: #6b6a655c;
    /* display: inline-block; */
    justify-content: center;
    
    
    }

.orderSummary{
    /* display: flex; */
    display: inline-block;
    gap: 10px;
    justify-content: space-between;
    padding: 50px;
        
}

.summaryTable{
    color: aliceblue;
    display: flex; 
    /* display: grid; */
    grid-template-columns: 1fr 1fr; 
    gap: 20rem;
   
}

.contentSummary{
   
    justify-content: space-between; 
    align-items: center; 
}

.itemContent{
  /* display: flex;  */
 justify-content: space-around; 
 align-items: center;  
 /* display: grid; */
 /* grid-gap: 3px;
 grid-template-columns: 80px 1fr; */
 padding: 2.5rem;
}



.remove {
    background-color: #DFC020;
    width: 2rem;
    height: 2rem;
}

.add{
    background-color: #DFC020;
    width: 2rem;
    height: 2rem;
}

.delete{
    background-color: #DFC020;
    width: 2rem;
    height: 2rem;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-cancel{
    border-radius: 8px;
    background-color: #DFC020;
    height: 2rem;
    width: 6rem;
   
}

.btn-confirm{
    background-color: #DFC020;
    border-radius: 8px;
    height: 2rem;
    width: 6rem;
}

.total {
    width:  20vw;
    background-color: rgba(240, 233, 146, 0.616);
}

